body {
    background-color: #f9f9f9;
}

.wrapper {
    width: 1060px;
    margin: 0 auto;
    background-color: #fff;
    padding: 50px 45px 60px;

}

.logo {
    width: 145px;
    height: 40px;
    display: block;
}

.nav_menu {
    list-style-type: none;
    padding: 0;
    background-color: #504f4f;
    overflow: auto;
    font-size: 0;
    margin-top: 40px;
}

.nav_menu li {
    border-right: 1px solid #838383;
    display: inline-block;
    font-size: 15px;
}
.nav_menu a {
    color: #fff;
    display: inline-block;
    height: 40px;
    padding: 0 40px;
    text-decoration: none;
    line-height: 40px;
}

.active {
    background-color: #434343;
}

.main {
    overflow: auto;
    margin-top: 40px;
}

.side-menu {
    width: 240px;
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.side-menu a {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 20px;
}

.side-menu li {
    border: 1px solid #000;
}


.main-content {
    float: right;
    width: 675px;
    
}

.main-img {
    padding: 50px 0; 
    text-align: center;
    border: 1px solid #000;
   
}

.main-content p {
    margin: 40px 0 0 30px;
}

.footer .nav_menu {
    background-color: #e1e1e1;
}

.footer .nav_menu li {
    border: none;
}

.footer .nav_menu a {
    color: #000;
}

.reserved-rights {
    float: right;
    line-height: 40px;
    margin-right: 20px;
}